.vscode/**
.github/**
src/**
webview-ui/**
samples/**
node_modules/**
**/*.ts
**/tsconfig*.json
esbuild.js
.eslintrc*
.gitignore
.vscode-test/**
CONTRIBUTING.md
!dist/**
dist/**/*.map
dist/**/*.ts
!media/**
!README.md
!CHANGELOG.md
!LICENSE
